@if (loading()) {
  <div class="fm-loading">
    <p-progressSpinner styleClass="fm-spinner" strokeWidth="3" />
  </div>
} @else {
  <p-table [value]="rows()" dataKey="id" styleClass="fm-table">
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 50%">Name</th>
        <th style="width: 15%">Size</th>
        <th style="width: 35%">Modified</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr
        [attr.data-testid]="'fm-row-' + row.id"
        (dblclick)="onRowDblClick(row)"
        class="fm-row"
        [class.fm-row-folder]="row.kind === 'folder'"
      >
        <td>
          <span class="fm-name">
            <i [class]="row.icon"></i>
            <span>{{ row.name }}</span>
          </span>
        </td>
        <td>{{ row.sizeLabel }}</td>
        <td>{{ row.modifiedAt | date: 'medium' }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="3" class="fm-empty">This folder is empty.</td>
      </tr>
    </ng-template>
  </p-table>
}
