<p-tree
  [value]="visibleNodes()"
  selectionMode="single"
  [selection]="selectedTreeNode()"
  [metaKeySelection]="true"
  loadingMode="icon"
  (onNodeExpand)="handleExpand($event)"
  (onNodeCollapse)="handleCollapse($event)"
  (onNodeSelect)="handleSelect($event)"
  styleClass="pd-tree"
>
  <ng-template let-node pTemplate="default">
    <span class="pd-tree-node">
      <pr-file-system-icon name="folder" />
      <span class="pd-tree-label">{{ node.label }}</span>
    </span>
  </ng-template>
</p-tree>
