@if (loading()) {
  <div class="pd-loading">
    <p-progressSpinner styleClass="pd-spinner" strokeWidth="3" />
  </div>
} @else {
  <p-table [value]="rows()" dataKey="id" styleClass="pd-table" [scrollable]="true" scrollHeight="flex">
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" style="width: 34%">
          <div class="pd-th"><span class="pd-th-label">File Name</span> <p-sortIcon field="name" /></div>
        </th>
        <th pSortableColumn="typeLabel" style="width: 14%">
          <div class="pd-th"><span class="pd-th-label">Type</span> <p-sortIcon field="typeLabel" /></div>
        </th>
        <th pSortableColumn="modifiedAt" style="width: 18%">
          <div class="pd-th"><span class="pd-th-label">Last Modified</span> <p-sortIcon field="modifiedAt" /></div>
        </th>
        <th pSortableColumn="modifiedBy" style="width: 20%">
          <div class="pd-th"><span class="pd-th-label">Last Modified By</span> <p-sortIcon field="modifiedBy" /></div>
        </th>
        <th pSortableColumn="sortSize" style="width: 14%" class="pd-col-size">
          <div class="pd-th"><span class="pd-th-label">Size</span> <p-sortIcon field="sortSize" /></div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row>
      <tr
        [attr.data-testid]="'pd-row-' + row.id"
        (dblclick)="onRowDblClick(row)"
        class="pd-row"
        [class.pd-row-folder]="row.kind === 'folder'"
      >
        <td>
          <span class="pd-name">
            @if (row.kind === 'folder') {
              <pr-file-system-icon name="folder" />
            } @else {
              <pr-file-system-icon [fileName]="row.node.name" />
            }
            <span
              class="pd-name-text"
              [pTooltip]="row.name"
              tooltipPosition="top"
              tooltipStyleClass="pd-cell-tooltip"
              [showDelay]="300"
              [tooltipDisabled]="tooltipSuppressedCellId() === row.id + ':name'"
              (mouseenter)="onCellMouseEnter($event, row.id + ':name')"
              >{{ row.name }}</span
            >
          </span>
        </td>
        <td class="pd-muted">
          <span
            class="pd-cell-text"
            [pTooltip]="row.typeLabel"
            tooltipPosition="top"
            tooltipStyleClass="pd-cell-tooltip"
            [showDelay]="300"
            [tooltipDisabled]="tooltipSuppressedCellId() === row.id + ':type'"
            (mouseenter)="onCellMouseEnter($event, row.id + ':type')"
            >{{ row.typeLabel }}</span
          >
        </td>
        <td class="pd-muted">
          <span
            class="pd-cell-text"
            [pTooltip]="(row.modifiedAt | date: 'dd-MM-yyyy HH:mm') ?? ''"
            tooltipPosition="top"
            tooltipStyleClass="pd-cell-tooltip"
            [showDelay]="300"
            [tooltipDisabled]="tooltipSuppressedCellId() === row.id + ':modified'"
            (mouseenter)="onCellMouseEnter($event, row.id + ':modified')"
            >{{ row.modifiedAt | date: 'dd-MM-yyyy HH:mm' }}</span
          >
        </td>
        <td class="pd-muted">
          <span
            class="pd-cell-text"
            [pTooltip]="row.modifiedBy"
            tooltipPosition="top"
            tooltipStyleClass="pd-cell-tooltip"
            [showDelay]="300"
            [tooltipDisabled]="tooltipSuppressedCellId() === row.id + ':modifiedBy'"
            (mouseenter)="onCellMouseEnter($event, row.id + ':modifiedBy')"
            >{{ row.modifiedBy }}</span
          >
        </td>
        <td class="pd-col-size pd-muted">{{ row.sizeLabel }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5" class="pd-empty">This folder is empty.</td>
      </tr>
    </ng-template>
  </p-table>
}
