/* Global styles */
@use 'material-symbols/outlined.css';

html,
body {
  height: 100%;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    'Segoe UI',
    Roboto,
    sans-serif;
}

pr-root {
  display: block;
  height: 100vh;
}
